.main-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  color: $main-color;
  margin-bottom: 16px;
  text-align: center;
}
.main-desc {
  font-size: 17px;
  font-weight: 400;
  line-height: 20.4px;
  color: #929292;
  text-align: center;
  margin-bottom: 30px;
}
