$main-color: #103e8c;
$main-color-dark: #e1ab01;
$main-color-light: rgba(175, 105, 219, 0.43);
$sec-color: #b8b8b8;
$text-color1: rgba(0, 0, 0, 0.6);
$text-color2: #0b2239;
$text-color3: #000000;
$text-color4: #555555;

$white: white;
