.footer {
  background-color: $main-color;
  color: white;
  font-size: 16px;
  font-weight: 400;
  .footer-top {
    padding: 40px 0 20px;
    // background: url(../../../images/bg-footer.svg);
    .info {
      .logo {
        margin-bottom: 26px;
        width: 250px;
        height: auto;
      }
      .text {
        font-size: 12px;
        font-weight: 500;
        max-width: 356px;
        line-height: 26px;
      }
    }
    .items {
      display: flex;
      flex-direction: column;
      gap: 7px;
      .title {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: normal;
        font-weight: 600;
      }
      .item {
        white-space: nowrap;
        color: white;
        line-height: normal;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
      }
    }
    .box-email {
      .text {
        max-width: 306px;
        margin-bottom: 21px;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
      }
      .parent-inp {
        width: 306px;
        margin-bottom: 35px;
        max-width: 100%;
        display: flex;
        align-items: stretch;
        .inp {
          border: 0;
          padding: 9px 20px;
          border-radius: 0 20px 20px 0;
          flex: 1;
          font-weight: 400;
          font-size: 16px;
          color: #b8b8b8;
          &::placeholder {
            font-weight: 400;
            font-size: 16px;
            color: #b8b8b8;
          }
        }
        .btn-sub {
          font-weight: 400;
          font-size: 16px;
          padding: 10px 17px;
          background: #fff;
          border-radius: 20px 0px 0px 20px;
          color: white;
        }
      }
    }
  }
  .bar {
    height: 0.5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
  }
  .footer-bottom {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding: 20px 11px;
    background-color: $main-color-dark;
    .social {
      display: flex;
      align-items: center;
      gap: 30px;
      i,
      svg {
        font-size: 18px;
        color: white;
      }
    }
  }
}
